<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <img src="./img/pozaCuMnLow.jpg">
    <p>Created by {{name}}</p>
</body>

<footer>
    {{>footer}}
</footer>

</html>